#############
## PLD
#############

ep_util/archives
ep_commun/gnu
*.docx

#############
## Hbase
#############

Hbase
hb_*

#############
## Topstation
#############

*.prc
Menus_*
jt_*
ju_*
exemples
ReadMeApplicatifsPrincipaux.txt

#############
## Windows detritus
#############

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store

# Link
*.lnk